/* Основний колір шрифту - #757575 */
/* Допоміжний колір шрифту - #212121 */
/* Білий - #FFFFFF */
/* Акцент - #2196F3 */

:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --primary-bg-color:#2F303A;
   }

body{
    background-color: #E5E5E5;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
.logo{
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo span{
    color: var(--accent-color);
}
ul{
    list-style: none;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

/*-------------------------------- Site-nav ---------------------------------*/
.header{
    background-color: var(--white-color);
}
.site-nav .link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}
.contact-nav .link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contact-nav .link:hover,
.contact-nav .link:focus{
    color: var(--accent-color);
}
/* ------------------------------Hero----------------------------------------- */
.hero{
    background-color: var(--primary-bg-color);
}
.hero-title{
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-link{
    color: var(--white-color);
    background-color: #2196F3;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

/*-----------------------------------Sections------------------------------- */
.section-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.feature-list .title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

}
.feature-list .text{
    font-size: 14px;
    line-height: 1.71;
}
.team .name{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team .position{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/*--------------------------------Section Portfolio-------------------- */
.list-buttom .item{
    color: var(--title-text-color);
    background-color:#F5F4FA;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.list-buttom .item:hover,
.list-buttom .item:focus{
color: var(--white-color);
background-color: var(--accent-color);
}
.list-cards .project-name{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;  
    letter-spacing: 0.06em;
    text-decoration: none;
}
.list-cards .project-type{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
}
.list-cards .link{
    text-decoration: none;
}
/* ------------------------------------------Footer------------------------------- */

.footer{
    background-color: var(--primary-bg-color);
}
.address .map{
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;

}
.address .map:hover,
.address .map:focus{
    color: var(--accent-color) ;
}
  
.address .email,
.address .phone{
    color: var(--white-color)
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}

.address .email:hover,
.address .phone:hover,
.address .email:focus,
.address .phone:focus{
    color: var(--accent-color);
}